body {
   font-family: 'Hind', sans-serif;
   height: 100%;
   background-color: #E5D6BF;
}

html {
   height: 100%;
}

.box_shadow {
   box-shadow: 0 0 32px -18px;
}

.inputField {
   text-align: center;
}

.inputField::placeholder {
   text-align: center;
   color: #D0D0D0;
}

.loginGreen {
   background-color: #449D44;
}

.loginColor {
   color: #449D44;
}

.lightGrey {
   color: #C3C3C3;
}

.radius {
   border-radius: 9px;
}

.signinBlue {
   background-color: #3086FC;
}

.signinColor {
   color: #3086FC;
}

.greenishBlue {
   background-color: #55BAB6;
}

.pointer {
   cursor: pointer !important;
}

.itemTitle {
   transition: 0.3s;
}

.itemTitle:hover {
   color: deepskyblue;
}