body {
   font-family: segoe-regular;
}

.shadow {
   box-shadow: 1px 1px 18px -7px;
}

.pointer {
   cursor: pointer;
}

.effect {
   transition: 0.2s;
}

.effect:hover {
   background-color: #d7f5fa !important;
   box-shadow: 0px 0px 28px #d8d8d8 !important;
   transform: scale(1.05) !important;
}

@media only screen and (max-width: 500px) {
   .widthAuto {
      width: auto !important;
   }

   .widthAuto .ml30 {
      margin-left: 30px !important;
   }
   .inherit {
      display: initial !important;
   }

   aside { display: none !important; }

   .inherit h2 {
      margin-top: 30px !important;
   }
}

/* SEGOE FONTS */

@font-face {
   font-family: segoe-regular;
   font-weight: 400;
   font-style: normal;
   src: url('../Fonts/Segoe/Segoe\ UI.ttf');
}

@font-face {
   font-family: segoe-regular;
   font-weight: 400;
   font-style: italic;
   src: url('../Fonts/Segoe/Segoe\ UI\ Italic.ttf');
}

@font-face {
   font-family: segoe-regular;
   font-weight: 700;
   font-style: normal;
   src: url('../Fonts/Segoe/Segoe\ UI\ Bold.ttf');
}

@font-face {
   font-family: segoe-regular;
   font-weight: 700;
   font-style: italic;
   src: url('../Fonts/Segoe/Segoe\ UI\ Bold\ Italic.ttf');
}